<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.srt_droid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.srt_droid.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.srt_droid.PilihPeranActivity"
            android:label="@string/title_activity_pilih_peran" >
        </activity>
        <activity
            android:name="com.example.srt_droid.PemilikRestoranActivity"
            android:label="@string/title_activity_pemilik_restoran" >
        </activity>
        <activity
            android:name="com.example.srt_droid.PelayanActivity"
            android:label="@string/title_activity_pelayan" >
        </activity>
        <activity
            android:name="com.example.srt_droid.KokiActivity"
            android:label="@string/title_activity_koki" >
        </activity>
        <activity
            android:name="com.example.srt_droid.KasirActivity"
            android:label="@string/title_activity_kasir" >
        </activity>
        <activity
            android:name="com.example.srt_droid.Account.ListAccountActivity"
            android:label="@string/title_activity_list_account" >
        </activity>
        <activity
            android:name="com.example.srt_droid.Menu.ListMenuActivity"
            android:label="@string/title_activity_list_menu" >
        </activity>
        <activity
            android:name="com.example.srt_droid.Account.BuatAccountActivity"
            android:label="@string/title_activity_buat_account" >
        </activity>
        <activity
            android:name="com.example.srt_droid.Account.UbahAccountActivity"
            android:label="@string/title_activity_ubah_account" >
        </activity>
        <activity
            android:name="com.example.srt_droid.Menu.BuatMenuActivity"
            android:label="@string/title_activity_buat_menu" >
        </activity>
        <activity
            android:name="com.example.srt_droid.Menu.UbahMenuActivity"
            android:label="@string/title_activity_ubah_menu" >
        </activity>
        <activity
            android:name="com.example.srt_droid.UbahProfileActivity"
            android:label="@string/title_activity_ubah_profile" >
        </activity>
        <activity
            android:name="com.example.srt_droid.LihatSejarahPenjualanActivity"
            android:label="@string/title_activity_lihat_sejarah_penjualan" >
        </activity>
        <activity
            android:name="com.example.srt_droid.Pesanan.BuatPesananActivity"
            android:label="@string/title_activity_buat_pesananan" >
        </activity>
    </application>

</manifest>